html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
nav {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header {
  padding: 35px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #555248;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 0.75em;
}

.header__nav {
  max-width: 420px;
  width: 100%;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
}

.header__nav__link {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__nav__link:hover {
  opacity: 0.7;
}

.header__buttons {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__button:hover {
  opacity: 0.7;
}

.header__button--favorite {
  position: relative;
}

.header__button--favorite::after {
  content: "1";
  position: absolute;
  font-size: 0.5em;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E6C8B4;
  top: -5px;
  right: -6px;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  color: #1B1A17;
}

.hero__content__title {
  font-family: "Playfair Display", serif;
  font-size: 2.8125em;
  font-weight: 400;
  position: relative;
  margin-bottom: 3%;
}

.hero__content__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  left: -20%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.hero__content__subtitle {
  font-family: "Playfair Display", serif;
  font-size: 1.875em;
  font-weight: 400;
  margin-bottom: 7%;
}

.hero__content__text {
  color: rgba(27, 26, 23, 0.82);
  font-size: 0.875em;
  max-width: 330px;
  line-height: 1.5;
  margin-bottom: 19%;
  font-weight: 300;
}

.hero__content__catalog {
  font-weight: 500;
  color: #fff;
  background-color: #444240;
  padding: 25px 38px;
  text-transform: uppercase;
}

.hero__image {
  position: relative;
  margin-right: 12%;
}

.hero__image__absolute {
  position: absolute;
}

.hero__image__absolute--price {
  top: 20%;
  left: -15%;
}

.hero__image__absolute--diameter {
  bottom: 20%;
  right: -15%;
}

.hero__image__price,
.hero__image__diameter {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-family: "Prata", serif;
  font-size: 1em;
}

.hero__image__price::after,
.hero__image__diameter::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -88%;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
}

.hero__image__diameter::after {
  right: 0;
  left: -56%;
}

.hero__image__background {
  position: absolute;
  top: 1%;
  z-index: -1;
  left: -35%;
}

.popular {
  padding-bottom: 86px;
}

.popular__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
}

.popular__all {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.popular__all:hover {
  opacity: 0.7;
}

.popular__all::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #C4C0B6;
  left: 0;
  bottom: -8px;
}

.popular__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__card {
  padding: 40px;
}

.popular__card__brand {
  font-size: 0.875em;
  font-family: "Playfair Display", serif;
  line-height: 1.8;
  margin-bottom: 10px;
}

.popular__card__price {
  font-size: 0.75em;
  font-family: "Prata", serif;
}

.popular__card__image {
  background-image: url(../img/card__ellipse.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 19px;
  max-width: 313px;
}

.popular__card__more {
  color: #1B1A17;
  font-size: 1em;
  font-family: "Playfair Display", serif;
  position: relative;
  padding-left: 40px;
}

.popular__card__more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #8B8371;
  left: 0;
  top: 50%;
}

.quality {
  padding-top: 52px;
  padding-bottom: 20px;
  background-image: url(../img/quality__bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.quality__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.quality__slide img {
  margin: 0 70px;
}

.quality__slide__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 38px;
}

.quality__slide__text {
  max-width: 380px;
  line-height: 1.5;
  margin-bottom: 45px;
}

.quality__slide__button {
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #fff;
  background-color: #D4B098;
  padding: 26px 38px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.quality__slide__button:hover {
  opacity: 0.7;
}

.quality__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
}

.quality__nav__current {
  font-family: "Prata", serif;
  font-size: 0.75em;
}

.quality__nav__next,
.quality__nav__prev {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.quality__nav__next:hover,
.quality__nav__prev:hover {
  opacity: 0.7;
}

.news {
  padding-top: 80px;
  padding-bottom: 90px;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__info__title {
  font-size: 2em;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
  font-weight: 400;
}

.news__info__text {
  max-width: 380px;
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 115px;
}

.news__info__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 95px;
}

.news__info__link {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.news__info__link:hover {
  opacity: 0.7;
}

.news__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 628px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 460px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.footer {
  background-color: #444240;
  padding: 67px 0;
  color: #fff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 0.14em;
}

.footer__column__logo {
  margin-bottom: 23px;
}

.footer__column__title {
  margin-bottom: 32px;
  font-size: 0.875em;
}

.footer__column__item {
  opacity: 0.75;
  margin-bottom: 15px;
  font-size: 0.75em;
}

.footer__column__link {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.footer__column__link:hover {
  opacity: 0.4;
}